
.modal-content {
    text-align: center;
    /* margin-top: 5px; */
    padding: 2em;
    
}
.modal-content input{
    /* text-align: center; */
    margin-bottom: 3em;
    
}

.body{
    font-size: 25px;
}